.scraped-container-card-secure[data-v-09f9d7d2] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  text-align: center;
  margin-top: 0.8rem;
}
.scraped-container-card-secure .payment-brands[data-v-09f9d7d2] {
  display: flex;
  justify-content: center;
  gap: var(--spacing-10);
}
.scraped-container-card-secure .payment-brands img[data-v-09f9d7d2] {
  width: 3.4rem;
  height: 2rem;
}
.option[data-v-b2b9ed87] {
  border: 0.1rem solid var(--Neutral-100);
  border-radius: var(--radiusDefault);
  background-color: var(--White);
  overflow: hidden;
}
.option[data-v-b2b9ed87]:hover {
  cursor: pointer;
}
.option.selected[data-v-b2b9ed87] {
  border-color: var(--accent);
  box-shadow: var(--elevation-100);
}
.option__label[data-v-b2b9ed87] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-4);
  padding: var(--spacing-2);
  background: var(--accent);
  color: var(--White);
}
.option__label-text[data-v-b2b9ed87] {
  text-transform: uppercase;
  color: var(--White);
}
.option__content[data-v-b2b9ed87] {
  display: flex;
  justify-content: space-between;
  row-gap: var(--spacing-12);
  padding: 1.6rem;
}
.option__info[data-v-b2b9ed87] {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
}
.option__checkmark[data-v-b2b9ed87] {
  align-self: start;
  margin-top: 0.7rem;
}
.option__plan[data-v-b2b9ed87] {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}
.option__plan-total-price[data-v-b2b9ed87] {
  display: flex;
  gap: 0.4rem;
}
.option__plan-total-price .sale[data-v-b2b9ed87] {
  text-decoration: line-through;
}
.option__daily-price[data-v-b2b9ed87] {
  display: flex;
  align-items: center;
}
.option__daily-price-default[data-v-b2b9ed87] {
  align-self: end;
  text-decoration: line-through;
  text-decoration-color: var(--Red-500);
}
.option__daily-price-current[data-v-b2b9ed87] {
  display: flex;
  gap: 0.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0 0.8rem 0.8rem 0;
  background: var(--Neutral-50);
}
.option__daily-price-currency[data-v-b2b9ed87] {
  padding-top: 0.4rem;
}
.option__daily-price-decimal[data-v-b2b9ed87] {
  padding-top: 0.3rem;
}
.option__daily-price-interval[data-v-b2b9ed87] {
  white-space: nowrap;
}
.order-modal .modal-dialog[data-v-28243106] {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  max-height: 100vh;
}
.modal-content[data-v-28243106] {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: var(--White);
}
.modal[data-v-28243106] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}
.modal.show.fade .modal-dialog[data-v-28243106] {
  -webkit-transform: none;
  transform: none;
}
.modal.fade .modal-dialog[data-v-28243106] {
  -webkit-transform: translate(0, 10rem);
  transform: translateY(10rem);
}
.order-modal .modal-dialog .modal-content[data-v-28243106] {
  width: 100%;
  max-width: 88rem;
}
.get-modal.order-modal[data-v-28243106] {
  bottom: 0;
}
.get-modal.order-modal .modal-dialog[data-v-28243106] {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.get-modal.order-modal .modal-dialog .modal-content[data-v-28243106] {
  width: 100%;
  max-width: 53rem;
}
.order-modal .modal-content[data-v-28243106] {
  border: 0;
  border-radius: 1.6rem;
}
.order-modal .modal-content .close[data-v-28243106] {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  background: rgba(217, 217, 217, 0.56);
  opacity: 1;
}
.order-modal .modal-content .close svg[data-v-28243106] {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  transform: translate(-50%, -50%);
}
.order-modal .modal-content .close svg path[data-v-28243106] {
  fill: #000;
}
.order-modal .modal-content .modal-body[data-v-28243106] {
  padding: 4.8rem 0;
}
.order-modal .select-payment-method[data-v-28243106] {
  margin: 0 -1rem 2rem;
}
.order-modal .select-payment-method .col[data-v-28243106] {
  padding: 0 1rem;
  width: 50%;
}
.order-modal .select-payment-method .select-method[data-v-28243106] {
  height: 7.6rem;
  padding: 1rem;
  border-radius: 0.6rem;
  border: 0.1rem solid #dadce2;
  background: #f7f7f8;
  color: #161a1f;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  filter: grayscale(100%);
  cursor: pointer;
}
.order-modal .select-payment-method .select-method span[data-v-28243106] {
  display: block;
  margin: 0 0 1.5rem;
}
.order-modal .select-payment-method .select-method img[data-v-28243106] {
  max-width: 14rem;
  width: 100%;
  height: auto;
}
.order-modal .select-payment-method .select-method.active[data-v-28243106] {
  filter: grayscale(0%);
  background: #ffffff;
  border: 0.1rem solid #806ffb;
  box-shadow: 0 1.2rem 2.4rem #2b313914, 0 0.4rem 0.8rem #2b37460f;
}
.get-modal.order-modal .modal-content .modal-body[data-v-28243106] {
  padding: 3.2rem 4.8rem;
}
.order-modal .modal-content .modal-body .col-item[data-v-28243106] {
  padding: 0 4.8rem !important;
}
.order-modal .modal-content .modal-body .modal-title[data-v-28243106] {
  font-size: 2.4rem;
  color: #161a1f;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 0 3rem;
  text-align: center;
}
.get-modal.order-modal
  .modal-content
  .modal-body
  .modal-title[data-v-28243106] {
  font-size: 2.4rem;
  margin: 0 0 1rem;
}
.get-modal.order-modal .modal-content .modal-body .text[data-v-28243106] {
  font-size: 1.4rem;
  font-weight: 400;
  color: #161a1fcc;
  line-height: 1.6;
  text-align: center;
  margin: 0 0 1rem;
}
.get-modal.order-modal
  .modal-content
  .modal-body
  .text
  strong[data-v-28243106] {
  font-weight: 700;
}
.get-modal.order-modal .modal-content .modal-body .alert[data-v-28243106] {
  font-size: 1.2rem;
  font-weight: 400;
  color: #161a1f80;
  line-height: 1.6;
  text-align: center;
}
.get-modal.order-modal .modal-content .modal-body .image[data-v-28243106],
.get-modal.order-modal .modal-content .modal-body .image img[data-v-28243106] {
  margin: 0 0 1rem;
}
.get-modal.order-modal
  .modal-content
  .modal-body
  .message-box[data-v-28243106] {
  font-size: 1.4rem;
  font-weight: 400;
  color: #161a1fcc;
  line-height: 1.6;
  text-align: center;
  background: #f6f7f8;
  padding: 1.2rem;
  margin: 0 0 2rem;
  border-radius: 1.6rem;
}
.get-modal.order-modal
  .modal-content
  .modal-body
  .message-box[data-v-28243106]
  strong {
  font-weight: 700;
  color: var(--accent);
}
.get-modal.order-modal .modal-content .modal-body .get-button[data-v-28243106] {
  width: 100%;
  height: 5.4rem;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 700;
  border-radius: 1rem;
  background: #806ffb;
  color: #fff;
  box-shadow: 0 1rem 1rem #806ffb24;
  margin: 0 auto;
}
.order-modal
  .modal-content
  .modal-body
  .payment-info
  .info-title[data-v-28243106] {
  font-size: 1.8rem;
  color: #161a1f;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 0 2rem;
}
.order-modal
  .modal-content
  .modal-body
  .payment-info
  .info-list[data-v-28243106] {
  font-size: 1.4rem;
  font-weight: 400;
  color: #6c727a;
  padding: 0 0 2rem;
  margin: 0 0 2rem;
  border-bottom: 0.1rem solid #dfe3eb;
}
.order-modal
  .modal-content
  .modal-body
  .payment-info
  .info-list
  .sale-price[data-v-28243106] {
  color: #df4142;
  font-weight: 700;
}
.order-modal
  .modal-content
  .modal-body
  .payment-info
  .info-list
  .info-item[data-v-28243106] {
  margin: 0 0 1.2rem;
}
.order-modal
  .modal-content
  .modal-body
  .payment-info
  .info-list
  .info-item
  .text[data-v-28243106] {
  width: 60%;
}
.order-modal
  .modal-content
  .modal-body
  .payment-info
  .info-list
  .info-item[data-v-28243106]:last-child {
  margin: 0;
}
.order-modal
  .modal-content
  .modal-body
  .payment-info
  .total-info[data-v-28243106] {
  font-size: 1.8rem;
  color: #161a1f;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 0 1rem;
}
.order-modal
  .modal-content
  .modal-body
  .payment-info
  .sale-info[data-v-28243106] {
  font-size: 1.2rem;
  color: #df4142;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 0 2rem;
}
.order-modal .modal-content .modal-body .payment-method-box[data-v-28243106] {
  position: relative;
  height: 40rem;
  max-height: 40rem;
  overflow: hidden;
}
@media all and (max-width: 767px) {
  .order-modal .modal-content[data-v-28243106] {
    height: 100vh;
    max-height: 100vh;
    border-radius: 1.6rem 1.6rem 0 0;
    overflow-x: auto;
  }
  .order-modal .modal-content .close[data-v-28243106] {
    top: 1.8rem;
  }
  .order-modal .modal-content .modal-body[data-v-28243106] {
    padding: 4rem 0;
  }
  .order-modal .modal-content .modal-body .modal-title[data-v-28243106] {
    font-size: 1.8rem;
    line-height: 1.2;
    margin: 0 0 2rem;
    padding: 0 5rem;
  }
  .order-modal .modal-content .modal-body .col-item[data-v-28243106] {
    padding: 0 2rem;
  }
  .order-modal
    .modal-content
    .modal-body
    .payment-info
    .info-title[data-v-28243106] {
    display: none;
  }
  .order-modal .modal-content .modal-body .payment-method-box[data-v-28243106] {
    height: 35rem;
    max-height: 35rem;
  }
  .get-modal.order-modal .modal-content[data-v-28243106] {
    border-radius: 1.6rem 1.6rem 0 0;
    height: auto;
  }
  .get-modal.order-modal .modal-content .modal-body[data-v-28243106] {
    padding: 2rem;
  }
  .get-modal.order-modal
    .modal-content
    .modal-body
    .get-button[data-v-28243106] {
    height: 4.8rem;
    font-size: 1.6rem;
  }
  .order-modal .select-payment-method[data-v-28243106] {
    padding: 0 1rem;
    margin: 0 0 2rem;
  }
  .order-modal .select-payment-method .select-method .icon[data-v-28243106] {
    max-width: 11rem;
    width: 100%;
  }
  .order-modal .select-payment-method .select-method span[data-v-28243106] {
    margin: 0 0 0.5rem;
  }
  .order-modal
    .select-payment-method
    .select-method
    .icon
    svg[data-v-28243106] {
    width: 100%;
    height: auto;
  }
  .order-modal
    .modal-content
    .modal-body
    .payment-method-box
    .item-method[data-v-28243106] {
    position: relative;
    height: 100%;
    display: none;
  }
  .order-modal
    .modal-content
    .modal-body
    .payment-method-box
    .item-method.active[data-v-28243106] {
    display: block;
  }
  .order-modal
    .modal-content
    .modal-body
    .payment-method-box
    .card-brand[data-v-28243106] {
    padding: 0 1rem;
  }
}
.order-modal
  .modal-content
  .modal-body
  .payment-method-box
  .paypal-default-button[data-v-28243106] {
  background: #ffc439;
  height: 4.5rem;
  border-radius: 2.3rem;
  font-size: 1.6rem;
  line-height: 1;
  color: #2c2e2f;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 500;
}
.order-modal
  .modal-content
  .modal-body
  .payment-method-box
  .paypal-default-button
  img[data-v-28243106] {
  width: 6.9rem;
  height: 2.2rem;
  margin-right: 0.3rem;
}
.order-modal
  .modal-content
  .modal-body
  .payment-method-box
  .paypal-method
  .info[data-v-28243106] {
  color: #000;
  font-size: 1.2rem;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  margin: 1.2rem 0 0;
}
.order-modal
  .modal-content
  .modal-body
  .payment-method-box
  .card-brand[data-v-28243106] {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}
.order-modal[data-v-28243106] {
  display: block;
}
@supports (-webkit-touch-callout: none) {
  .get-modal.order-modal .modal-content .modal-body[data-v-28243106] {
    padding: 2rem 2rem 7rem;
  }
}
.modal-wrapper[data-v-28243106] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modal-header-wrapper[data-v-28243106] {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.button-list[data-v-28243106] {
  margin-top: 4rem;
}
